* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #316b9be5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  background-color: #f3f1fa;
  position: relative;

  display: grid;
  grid-template-columns: 300px 600px;
  border-radius: 5px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
}

img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.container__text {
  padding: 40px 40px 0;
}

.container__text h1 {
  color: #316C9B;
  font-weight: 400;
}

.container__text__star span {
  font-size: 0.8rem;
  color: #080808b6;
  margin: -5px 0 20px;
}

.container__text__star span p {
  font-size: 0.9rem;
}

.container__text__timing {
  display: flex;
  margin: 20px 0 10px;
}

.container__text__timing_time {
  margin-right: 40px;
}

.container__text__timing_time h2 {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #7A7265;
}

.container__text__timing_time p {
  color: #316C9B;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn {
  position: absolute;
  bottom: -20px;
  right: -20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #316C9B;
  color: #fff;
  padding: 22px 45px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
}

.btn i {
  margin-left: 20px;
  font-size: 1.5rem;
}