
body, html {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
}
.card-background .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 3px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: width 325ms 75ms cubic-bezier(0.4, 0, 0.2, 1), height 325ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-background .card.full {
  width: 350px;
  height: 350px;
  transition: width 325ms cubic-bezier(0.4, 0, 0.2, 1), height 325ms 75ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-background .card.full .description {
  opacity: 3;
  transition: 325ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-background .card .image {
  display: block;
  height: 210px;
  background: url("ankara.jpeg");
  background-size: cover;
  background-clip: padding-box;
  border-radius: 3px 3px 0 0;
  background-position: 30%;
}
.card-background .card .description {
  display: block;
  padding: 35px;
  padding-top: 45px;
  overflow: hidden;
  opacity: 0;
  transition: 325ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-background .card .description .text-1, .card-background .card .description .text-2 {
  display: block;
  background-color: #ededed;
  height: 20px;
  border-radius: 2px;
  margin-bottom: 20px;
}
